<html>
    <head>
        <title>Tell me about yourself</title>
    </head>
    <body>
        {{ message }}
        <form method="post" action="/record">
            <table>
                <tr>
                    <td>First name</td>
                    <td><input name="firstname"></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input name="lastname"</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input name="age"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>

</html>
